body {
    background: url(../src/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.head_title{
    text-align: center;
}

#state-error{
    color: red;
}

#address-error{
    color: red;
}

#city-error{
    color: red;
}

.red-star{
   color: red;
}

.label_text{
    color: white;
}
.narrow_gap{
    padding-left: 1px;
    padding-right: 1px;
}
.none_gap{
    padding-left: 0px;
    padding-right: 0px;
}

.nav-tabs>li>a{
    background-color:#EFEFEF;
    color:#5A82BB;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus{
    color: #EEF3F8;
    background-color: #5A82BB;
}

.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
    background-color: #EDDEDE;
}
