body {
    background: url(../src/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.head_title{
    text-align: center;
}

#state-error{
    color: red;
}

#address-error{
    color: red;
}

#city-error{
    color: red;
}

.red-star{
   color: red;
}

.label_text{
    color: white;
}
.narrow_gap{
    padding-left: 1px;
    padding-right: 1px;
}