body {
    background: url(../src/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.head_title{
    text-align: center;
}

#state-error{
    color: red;
}

#address-error{
    color: red;
}

#city-error{
    color: red;
}

.red-star{
   color: red;
}

.label_text{
    color: white;
}
.narrow_gap{
    padding-left: 1px;
    padding-right: 1px;
}
.none_gap{
    padding-left: 0px;
    padding-right: 0px;
}

.nav-tabs>li>a{
    background-color:#EFEFEF;
    color:#5A82BB;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus{
    color: #EEF3F8;
    background-color: #5A82BB;
}

.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
    background-color: #EDDEDE;
}

.none_padding_margin{
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.thead_hour th{
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    background-color: #4C70A8;
    color: white;
}

.tbody_hour{
    text-align: center;
}
.tbody_hour:before{
    display: block;
    line-height: 10em;
    color: white;
}
.tbody_hour tr{
    background-color: white;
}

.table_hour_collapse th{
    text-align: center;
}
.table_hour_collapse thead{
    background: white;
}
.table_hour_collapse td{
    background: #F3F3F3;
}
